@(franchiseForm : play.data.Form[models.Restaurants.Franchise])

<!DOCTYPE html>
<html>
<head>
    @common.head("Create Franchise")
</head>
<body>
@common.navbar("Create New Franchise")

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 class="text-info">
				Create New Franchise
			</h3>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-8 column">
			@helper.form(action = controllers.Franchise.routes.FranchiseManager.saveFranchiseAndShowProfile()){
				@helper.input(franchiseForm("Name"),
						 '_showConstraints -> false) { (id, name, value, args) =>
							<input type="text" class="form-control" name="@name" id="@id"
							placeholder='Name for your franchise'>
					}
				
				@helper.input(franchiseForm("Email"),
							'_showConstraints -> false){(id, name, value, args)=>
							<input type="text" class="form-control" name="@name" id="@id"
							placeholder='Email Address'>
					}
				@helper.input(franchiseForm("Address"),
							'_showConstraints -> false){(id, name, value, args)=>
							<input type="text" class="form-control" name="@name" id="@id"
							placeholder= 'Address'>
					}
				@helper.input(franchiseForm("Phone"),
							'_showConstraints -> false){(id, name, value, args)=>
							<input type="text" class="form-control" name="@name" id="@id"
							placeholder= 'contact number'>
					}
				
				<div class="modal-footer">
					<button type="submit" class="btn btn-success">Confirm</button>
				</div>
			}

		</div>
		<div class="col-md-4 column">
			<div class="jumbotron">
				<h1>
					Hello!
				</h1>
				<p>
					Please don't create any spam restaurant. Temporary or permanent suspension may occur. 
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>
		</div>
	</div>
</div>

@common.footer()

</body>

</html>