@(franchises: List[models.Restaurants.Franchise])
<!DOCTYPE html>
<html>
<head>
    @common.head("Create Franchise")
</head>
<body>
@common.navbar("All franchise")

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 class="text-primary">
				All franchise has been listed here
			</h3>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>
							Franchise
						</th>
						<th>
							Email Address
						</th>
					</tr>
				</thead>
				<tbody>
					@for( franchise<-franchises ){
						<tr>
							<th> <h5><a class="btn" href="#">@franchise.franchiseName</h5></th>
							<th> <h5>@franchise.franchiseEmail</h5></th>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

@common.footer()

</body>

</html>